body{
    background-color:white;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}
h1{
    padding-bottom: 4rem;
    padding-left: 2.5rem;
}
.form{
    background-color:rgb(53, 48, 48);
    padding: 3rem 4rem;
    margin: 2rem 25rem;
    box-shadow: .6rem .4rem .6rem .7rem black;
}
input{
    padding: .6rem .6rem;
    margin-bottom: 1rem;
    border: none;
}
button{
    background-color: rgb(10, 10, 233); 
    border-radius: 3rem;
    border: none;
    padding: .8rem 1.8rem .8rem 1.8rem;
    color: white;
    font-size: 1.1rem;
    font-weight: 3rem;
    margin-top: 1rem;
}