body{
   color:white;
   background-color: rgb(37, 33, 33);
   font-family: Arial, Helvetica, sans-serif;
}
*{
    margin: 0;
    padding: 0;
    margin-right: 0;
}
h1{
    font-size: 2rem;
    padding-left: 1.3rem;
}
.navbar{
    display: flex;
    padding: 1.2rem;
    justify-content: space-between;
    box-sizing: border-box;
    height: 90px;
    font-size: 1rem;
    box-shadow: 2px  4px 5px black;
}
.nav-links{
    display: flex;
    font-size: 1.3rem;
    padding-top: 0;
    margin-left: 16px;
    margin-right: 4rem;
    width: auto; 
 }
.nav-links ul{
   list-style: none;
   display: flex;
   margin: 0;
   padding: 0;
}
.nav-links li a {
   text-decoration: none;
   padding: 1rem;
   display: block;
}
.nav .nav-links  ul{
    position: absolute;
    top: 90px;
    background-color: #e5e5e5;
    padding: 1.5rem;
    flex-direction: column;
    left: 0;
    right: 0;
    width: 90%;
}

.project{
    display: flex;
    margin-top: 4rem;
}
.card p{
    width: 70%;
    padding: 1rem;
    margin-bottom: .5rem;
}
h3{
   width: 100%;
}
.text{
    box-sizing: border-box;
    border-radius: 1rem;
    background-color: black;  
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 6rem;
    margin-right: 10rem;
    margin-left: 10rem;
    width: 40rem;
}
#button{
    background-color: red;
    border: none;
    border-radius: 10rem;
    padding-left: 3rem;
    padding-right: 3rem;
    color: white;
    font-weight: 6rem;
}
#link{
    color: white;
}
#click{
    text-decoration:none ; 
    padding: .5rem .8rem;
    color: blue;
    background-color: white;
    border-radius: 10rem;
    margin-left: 1rem;
    font-weight: bolder;
    font-size: 1rem;
    font-style: normal;
}
.card{
    margin-left: 4rem;
}